
@{
    ViewBag.Title = "ForgotPasswordFail";
}

<h2>ForgotPasswordFail</h2>
<div>
    <p>
        No one user registerd with this meil. Or another problem.
        <br />
        @Html.ActionLink("Try again", "ForgotPassword", "Account") 
        <br />  
        @Html.ActionLink("Register as new user", "Register", "Account")       
    </p>
</div>

